body {
  background-image: url("pills.jpeg");
}

#parent-container {
  /*position: absolute;
  margin-left: auto;
  margin-right: auto;*/
  display: flex;
  margin: 3vw
  /*justify-content: flex-start;
  align-items: flex-start;*/
/*  flex-direction: column;*/
  height: 100vh;
  width: 100vw;
  justify-content: center;
/*  border: solid black 3px;*/
}

/*#child-container-left {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  gap: 1vh;
  background-color: white;
  width: fit-content;
  padding: 1vw;
}

#name {
  width: fit-content;
  font-family: helvetica, bold;
  font-size: 8vh;
  text-decoration: none;
  color: #7C1416;
}

#description {
  width: fit-content;
  font-family: helvetica, light;
  font-size: 5vh;
  color: #7C1416;
}

#child-container-bottom {
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
  flex-direction: column;
  text-align: right;
  margin: 3vw;
}



.nav {
  width: fit-content;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 4vh;
  text-decoration: none;
  color: #7C1416;
  margin-left: 1vw;
}*/


.dropbtn {
    display: flex;
    margin-top: 3vw;
    justify-content: center;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    font-size: 8vh;
    text-decoration: none;
    color: #7C1416;
/*    width: 50vw;*/
/*    border: solid #7C1416 5px;*/
    text-align: left;
    background-color: #FCFAEE;
    width: 70vw;
    border: none;
    /*display: block;
    margin: auto;*/
/*    border: solid black 3px;*/
/*    border-top-left-radius: 25px;
    border-top-right-radius: 25px;*/
}

.child-right {
    transition: transform .5s ease-in-out;
/*    width: fit-content;*/
    justify-self: flex-end;
    align-self: center;
/*    justify-content: space-between;*/
    font-size: 8vh;
    margin-right: 5%;
} 

.dropdown:hover .child-right {
  transform: rotate(-135deg);
  cursor: s-resize;
}

.dropdown {
    position: relative;
    display: block;
    width: 70vw;
/*    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: solid black 3px;*/
    font-family: Helvetica, sans-serif;
    font-size: 10vh;
    text-decoration: none;
    color: #7C1416;

}

.dropdown-content {
    display: none;
}

.info {
    justify-content: flex-start;
    justify-content: space-between;
    text-align: left;
    padding-left: 5px;
    background-color: #FCFAEE;
    color: #7C1416;
    font-size: 6vh;
/*    border: solid #3C3D37 5px;*/
/*    font-family: Trebuchet MS, sans-serif;
    font-size: 5vw;*/
/*    padding-top: 1vh;
    padding-bottom: 1vh;*/
}

.info:hover a {
    color: #FCFAEE;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}


.dropdown-content a {
    display: block;
    color: #7C1416;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #FCFAEE;
    background-color: transparent;
    cursor: pointer;
}

.dropdown :hover {
    border-color: #FCFAEE;
    background-color: #7C1416;
    color: #FCFAEE;
    cursor: pointer;
    transition: all .3s ease;
    cursor: s-resize;
}

.dropbtn :hover {
    background-color: transparent;
    color: #FCFAEE;
}


/*
* {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
}

#main-container {
  margin: 5%;
  padding-top: 3vh;
}

body {
  padding: 5vw;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
}

#nav {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  padding-bottom: 1vw;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 1vw;
}

#nav a {
  display: flex;
  justify-self: flex-start;
}

#nav>a, #nav>a:visited {
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#nav>a:hover {
  background-color: #000;
  color: #fff;
  transition: all .3s ease;
}

.pageTitle {
  font-size: 10em;
}

#outputGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  margin: 3%;
}

#outputGrid>a {
  color: black;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1.25vw;
  transition: background-color 0.25s;
  border-radius: 5px;
}

#outputGrid>a:visited {
  text-decoration: none;
  transition: background-color 0.25s;
}

#outputGrid>a:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.thumbnail {
  width: 100%;
  border-radius: 5px;
  display: flex;
  margin-bottom: 1vh;
  border: 1px solid white;
}

.description {
  line-height: 1.5em;
  margin-bottom: 20vh;
  font-size: 1em;
  display: flex;
}

.projectHeroImage, .projectHeroImage2, .projectHeroImage3, .projectHeroImage4 {
  width: 20%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#contact {
  display: flex;
  justify-content: aline-left;
  font-size: 100%;
  margin-bottom: 2vh;
  justify-content: space-evenly;
}

#contact>a, #contact>a:visited {
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#contact>a:hover {
  background-color: #000;
  color: #fff;
  transition: all .3s ease;
}

#ascii {
  display: flex;
  justify-content: aline-left;
  font-size: 100%;
  margin-bottom: 5vh;
  justify-content: space-evenly;
}*/