body {
  background-image: url("pills.jpeg");
  height: 100vh;
  width: 100vw;
}

#parent-container {
  display: flex;
  /*justify-content: flex-start;
  align-items: flex-start;*/
  justify-content: space-between;
  flex-direction: column;
  /*height: 100vh;
  width: 100vw;*/
}

#child-container-top {
  display: flex;
  flex-direction: column;
  margin: 3vw;
}

#child-container-top a {
  width: fit-content;
  cursor: default;
  font-family: helvetica, bold;
  font-size: 6vw;
  text-decoration: none;
  color: black;
}

#child-container-top p {
  width: fit-content;
  cursor: default;
  font-family: helvetica;
  font-size: 3vw;
}

#child-container-bottom {
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
  flex-direction: column;
  text-align: right;
  margin: 3vw;
}

#child-container-bottom a {
  width: fit-content;
  cursor: default;
  font-family: helvetica, bold;
  font-size: 10vh;
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
}

#main-container {
  margin: 5%;
  padding-top: 3vh;
}

body {
  padding: 5vw;
  font-size: 2vw;
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
}

#nav {
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  padding-bottom: 1vw;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 1vw;
}

#nav a {
  display: flex;
  justify-self: flex-start;
}

#nav>a, #nav>a:visited {
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#nav>a:hover {
  background-color: #000;
  color: #fff;
  transition: all .3s ease;
}

.pageTitle {
  font-size: 10em;
}

#outputGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  margin: 3%;
}

#outputGrid>a {
  color: black;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1.25vw;
  transition: background-color 0.25s;
  border-radius: 5px;
}

#outputGrid>a:visited {
  text-decoration: none;
  transition: background-color 0.25s;
}

#outputGrid>a:hover {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.thumbnail {
  width: 100%;
  border-radius: 5px;
  display: flex;
  margin-bottom: 1vh;
  border: 1px solid white;
}

.description {
  line-height: 1.5em;
  margin-bottom: 20vh;
  font-size: 1em;
  display: flex;
}

.projectHeroImage, .projectHeroImage2, .projectHeroImage3, .projectHeroImage4 {
  width: 20%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#contact {
  display: flex;
  justify-content: aline-left;
  font-size: 100%;
  margin-bottom: 2vh;
  justify-content: space-evenly;
}

#contact>a, #contact>a:visited {
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#contact>a:hover {
  background-color: #000;
  color: #fff;
  transition: all .3s ease;
}

#ascii {
  display: flex;
  justify-content: aline-left;
  font-size: 100%;
  margin-bottom: 5vh;
  justify-content: space-evenly;
}